<div class="nao-select-wrapper">
  @if (showLabel()) {
    <label [for]="id" class="nao-select-label">
      {{ label }}
      @if (required) {
        <span class="required-indicator">*</span>
      }
    </label>
  }

  @if (variant === "default") {
    <!-- Timescale Select -->
    <ng-select
      [id]="id"
      [items]="items"
      bindLabel="label"
      bindValue="value"
      [ngModel]="selectedValue()"
      (ngModelChange)="onSelectionChange($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      [disabled]="disabled"
      [placeholder]="selectedValue() ? '' : placeholder"
      [clearable]="false"
      [searchable]="false"
      [hideSelected]="false"
      class="timescale-select show-arrow"
    >
      <ng-template ng-label-tmp let-item="item">
        <div class="timescale-label-value">
          <span class="timescale-label">{{ label }}</span>
          <span class="timescale-value">{{ item?.label || "" }}</span>
        </div>
      </ng-template>
    </ng-select>
  } @else {
    <ng-select
      [id]="id"
      [items]="items"
      bindLabel="label"
      bindValue="value"
      [ngModel]="selectedValue()"
      (ngModelChange)="onSelectionChange($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      [disabled]="disabled"
      [placeholder]="selectedValue() ? '' : placeholder"
      [clearable]="false"
      [searchable]="false"
      [hideSelected]="false"
      class="status-select show-arrow"
    >
      <ng-template ng-label-tmp let-item="item">
        <app-nao-badge [status]="item?.value" />
      </ng-template>
    </ng-select>
  }

  @if (errorMessage && hasError()) {
    <span class="error-message">{{ errorMessage }}</span>
  }

  @if (hint && !hasError()) {
    <span class="hint">{{ hint }}</span>
  }
</div>
