span {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 5px;
  font-family: "Circular-Std", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.2px;
  white-space: nowrap;
}

.status-open {
  background-color: #e4fdff;
  border: 1px solid #cefbff;
  color: #00b0bf;
}

.status-in-progress {
  background-color: #d6d8ff;
  color: #3e40db;
}

.status-complete {
  background-color: #e1ffcc;
  color: #08a268;
}

.status-blocked {
  background-color: #fceeb5;
  color: #b13600;
}
