.timeline-grid-container {
  display: flex;
  border: 1px solid #E6EBF0; 
  overflow: hidden;
  background: white;
  font-family: "CircularStd-Regular", sans-serif;
  height: calc(100vh - 200px);
  min-height: 600px;
  position: relative;
  z-index: 1;
}

.work-centers-panel {
  flex-shrink: 0;
  width: 30%;
  border-right: 1px solid #d8ddeb;
  background: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.work-center-header {
  max-height: 35px;
  padding: 8px 31px;
  background: #fff;
  font-weight: 500;
  font-size: 14px;
  color: #687196;
  font-family: "CircularStd-Regular", sans-serif;
  border-bottom: 1px solid #E6EBF0;
  flex-shrink: 0; 
  display: flex;
  align-items: center;
}

.work-center-row {
  max-height: 60px;
  min-height: 60px;
  border-bottom: 1px solid #E6EBF0;
  flex-shrink: 0;
  flex: 1;

  &:last-child {
    border-bottom: none;
  }
}

.work-center-name {
  padding: 16px 0px 16px 31px; 
  color: #030929;
  background: white;
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 500;
  font-size: 14px;
  font-family: "CircularStd-Regular", sans-serif;
}

.timeline-panel {
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
  background: white;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
}

.timeline-header {
  display: flex;
  border-bottom: 1px solid #E6EBF0;
  background: #fff; 
  flex-shrink: 0;
  position: relative;
  z-index: 1; 
  max-height: 35px;
  min-height: 35px;
}

.timeline-month-header {
  min-width: 150px; 
  text-align: center; 
  position: relative;
  flex-shrink: 0; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  border-bottom: 1px solid #E6EBF0;

  &:last-child {
    border-right: none;
  }
}

.current-month-label {
  font-size: 11px;
  color: #7b1fa2;
  font-weight: 500;
}

.month-name {
  font-size: 14px;
  color: #687196;
  font-weight: 500;
  font-family: "CircularStd-Regular", sans-serif;
}

.timeline-row {
  position: relative;
  flex-shrink: 0;
  flex: 1;
  max-height: 60px;
  min-height: 60px;
  height: 60px;
  background: white;

  overflow: visible;
  cursor: pointer;
}

.vertical-lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 0;
}

.vertical-line {
  position: absolute;
  top: 0;
  bottom: -1000px;
  width: 1px;
  background: #C8CFE9;
  pointer-events: none;
  z-index: 0;

  &.current-month {
    width: 3px;
    background: #D4D7FF;
  }

  &:last-child {
    display: none;
  }
}

.current-month-label {
  position: absolute;
  top: 8px;
  font-size: 11px;
  color: #7b1fa2;
  font-weight: 500;
  z-index: 1;
  pointer-events: none;
}
