button {
  padding: 6px 8px;
  border: none;
  border-radius: 7px;
  height: 32px;
  font-family: "Circular-Std", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.33px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 7px;

  &.primary {
    background-color: #5659ff;
    color: #fff;
    box-shadow:
      0 0 0 1px rgba(86, 89, 255, 1),
      0 1px 3px 0 rgba(200, 207, 233, 1);

    &:hover:not(:disabled) {
      background-color: #4a32d1;
    }
  }

  &.secondary {
    background-color: white;
    color: #2f3059;
    box-shadow:
      0 0 0 1px rgba(255, 255, 255, 1),
      0 1px 3px 0 rgba(200, 207, 233, 1);

    &:hover:not(:disabled) {
      background-color: #f8f9fa;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
