<div class="nao-datepicker-wrapper">
  <div (click)="toggleDatepicker()">
    <app-nao-input
      [id]="id"
      [label]="label"
      [placeholder]="placeholder"
      [required]="required"
      [disabled]="disabled"
      [errorMessage]="errorMessage"
      [hint]="hint"
      [readonly]="true"
      [ngModel]="getDisplayValue()"
      [showDatepickerIcon]="true"
    />
  </div>

  <div class="datepicker-popup" [class.show]="showDatepicker()" (click)="$event.stopPropagation()">
    @if (showDatepicker()) {
      <ngb-datepicker
        #datepicker
        [ngModel]="dateValue()"
        navigation="select"
        (dateSelect)="onDateSelect($event)"
      ></ngb-datepicker>
    }
  </div>
</div>
