.tooltip-wrapper {
  position: relative;
  display: inline-block;
  height: 26px;

  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
}

.tooltip {
  position: absolute;
  padding: 8px;
  background-color: #687196;
  box-shadow:
    0 2px 4px -2px rgba(200, 207, 233, 1),
    0 0 16px -8px rgba(230, 235, 240, 1);
  color: white;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Circular-Std", sans-serif;
  white-space: nowrap;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
  pointer-events: none;

  &.tooltip-top {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 8px;
  }

  &.tooltip-bottom {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8px;
  }

  &.tooltip-left {
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 8px;
  }

  &.tooltip-right {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
  }
}
